<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>GRID</title>
           <style>  
      .selectBox {
        position: relative;
      }
      
      .selectBox select {
        width: 100%;
      }
      
      .overSelect {
        position: absolute;
        left: 1px;
        right: 0;
        top: 5px;
        bottom: 0;
      	margin:0;
	 	padding:1px;
	 	overflow:scroll;
      }
      
      #checkBoxes {
        display: none;
        border: 1px solid;
 		position: absolute;   
        z-index: 1;

      }
      
      #checkBoxes label {
        display: block;
      }
      
      .content {
        position: relative;
      }
      
      .content .multipleSelection {
        display: inline-block;
      }
      
      .content .multipleSelection #checkBoxes {
        top: 100%;
        margin-top: 5px;
      }


</style>
</head>
<div layout:fragment="content">
    <h1>Grid</h1>
    <div id="AllContainer" class="border border-2 p-2  mb-5" >
        <div class="container text-center">
            <form name="searchAndInsertForm" id="searchAndInsertForm">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="uId" id="uId" placeholder="id" >
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="name" id="name" placeholder="name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                            <input class="form-check-input gender" type="radio" name="gender" onclick="searchGender(event)" value="MALE" >
                            male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                            <input class="form-check-input gender" type="radio" name="gender" onclick="searchGender(event)"value="FEMALE">
                           female</label>
                        </div></div>
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                            <input class="form-check-input lang" type="radio" name="lang" onclick="langChange(event)" value="ko" >
                            한국어</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                            <input class="form-check-input lang" type="radio" name="lang" onclick="langChange(event)" value="en">
                            English</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col nation">
                        <select class="form-select" aria-label="nation" name="nation"  id="nation" onchange="nationAndCitySelect(this)">
                            <option value="" selected>Nation</option>
                            <option value="korea">korea</option>
                            <option value="america">america</option>
                            <option value="japan">japan</option>
                        </select>
                    </div>
                    <div class="col">
                       <div class="multipleSelection">
					        <div class="selectBox" onclick="showCheckBox(this)">
					            <select class="form-select chkValue" name="chkValue" >		
					            </select>
					            <div class="overSelect text-start" id="overSelect">
					             	<span class="selectedValues"></span><!-- 추가된 도시 옵션을 보여지는 위치  -->
					            </div>
					            <div id="checkBoxes" name="checkBoxes" class="form-control text-start cityList">
					                <!-- 도시 옵션을 추가할 위치 -->
					            </div>
					        </div>
						</div>                     
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="toTime" id="floatingFrom" value="" placeholder="일정 시작" onfocus="(this.type='date')">
                            <label for="floatingFrom">ToDate</label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control" name="fromTime" value="" id="floatingTo" placeholder="일정 끝" onfocus="(this.type='date')">
                        <label  for="floatingTo">FromDate</label>
                        </div>
                    </div>
                </div>
                <hr class="mb-0">
                <div id="buttons" class="text-end py-3">
                    <button type="submit" class="btn btn-primary" formaction="./list.do" formmethod="post" >search</button>
                    <button type="button" class="btn btn-primary" onclick="addRow()">add</button>
                    <button type="button" class="btn btn-primary" onclick="register()" id="registerBtn">save</button>
                    <button type="submit" class="btn btn-primary" formaction="./excelDown.do" formmethod="get">excelDown</button>
                    <button type="button" class="btn btn-primary" onclick="deleteSelected()" >delete</button>
                </div>
            </form>
        </div>


<!--출력페이지 --------------------------------------------------------------------------->
        <div class="tableWrapper">
        <form id="hiddenForm" name="hiddenForm" >
		    <table id="ListTable" class="table table-bordered table-responsive text-center">
		    <thead class="align-middle">
            <tr>
                <th scope="col" rowspan="2" id="noChk">no.</th>
                <th scope="col" rowspan="2">Id</th>
                <th scope="col" rowspan="2">name</th>
                <th scope="col" rowspan="2">gender</th>
                <th scope="col" colspan="2">location</th>
            </tr>
			<tr>                
				<th scope="col">nation</th>
				<th scope="col">city</th>
			</tr>
            </thead>
            <!--출력리스트-->
            <th:block th:include="/examgrid/listBoard.html"></th:block>

		    </table>
        </form>
		 </div>
		<th:block th:include="/examgrid/pageNav.html" ></th:block>
		
</div>
<!--수정모달창 ---------------------------------------------------------------------------->
    <div id="modifyModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">modifyForm</h5>
                </div>
                
                <div class="modal-body">
                   <form name="modifyForm"  id="modifyForm">
                <div class="d-flex justify-content-end">
                	<button type="button" class="text-end btn btn-outline-secondary mb-2" onclick="loadUserPageAjax(this)">link</button>
                	</div>
                 
                        <input type="hidden" name="eId" th:value="${eId}">
                			
                        <div class="row">
                            <div class="col">
                                <label class="form-control">Id</label>
                            </div>
                            <div class="input-group mb-3 col">
                                <input type="text" class="form-control" name="uId" placeholder="아이디">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-control">name</label>
                            </div>
                            <div class="input-group mb-3 col">
                                <input type="text" class="form-control" name="name" placeholder="이름">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label class="form-control">gender</label>
                            </div>
                            <div class="mb-3 form-check form-check col-3">
                                <input class="form-check-input" type="radio" name="gender" id="gender3" value="MALE" >
                                <label class="form-check-label" for="gender3">male</label>
                            </div>
                            <div class=" mb-3 form-check form-check col-3">
                                <input class="form-check-input" type="radio" name="gender" id="gender4" value="FEMALE">
                                <label class="form-check-label" for="gender4">female</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col input-group mb-3">
                                <label class="form-control">nation</label>
                            </div>
                            <div class="col nation">
                                <select class="form-select mb-3" aria-label="nation" name="nation"  onchange="nationAndCitySelect(this)">
                                    <option value="" >nation</option>
                                    <option value="korea">korea</option>
                                    <option value="america">america</option>
                                    <option value="japan">japan</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                         	<div class="col input-group mb-3">
                                <label class="form-control">city</label>
                            </div>
                 		    <div class="multipleSelection col ">
					        <div class="selectBox" onclick="showCheckBox(this)">
					            <select class="form-select chkValue" name="chkValue" >		
					            </select>
					            <div class="overSelect text-start" id="overSelect">
					             	<span class="selectedValues"></span><!-- 추가된 도시 옵션을 보여지는 위치  -->
					            </div>
					            <div id="checkBoxes" name="checkBoxes" class="form-control text-start cityList">
					                <!-- 도시 옵션을 추가할 위치 -->
					            </div>
					        </div>
						</div>                
                        </div>
                        <div class="text-center my-3">
                            <button type="button" class="btn btn-primary me-4" onclick="modifyAction()">save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript" src="/public/js/examGridList.js"></script>
</div>


</html>
