<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    <li class="page-item">
      <a class="page-link"
         th:href="@{''(pageNum=${page.prePage},pageSize=5,order=${param.order},direct=${param.direct})}"
         th:classappend="${page.isHasPreviousPage?'':'disabled'}"
      >Prev</a>
    </li>
    <li th:each="p:${page.navigatepageNums}" class="page-item">
      <a class="page-link"
         th:classappend="${p==page.pageNum?'active':''}"
         th:href="@{''(pageNum=${p},pageSize=5,order=${param.order},direct=${param.direct})}"
         th:text="${p}"
      ></a>
    </li>
    <li class="page-item">
      <a class="page-link"
         th:href="@{''(pageNum=${page.nextPage},pageSize=5,order=${param.order},direct=${param.direct})}"
         th:classappend="${page.isHasNextPage?'':'disabled'}"
      >Next</a>
    </li>  
  </ul>
</nav>