<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>GRID</title>

</head>

<div layout:fragment="content" >

	<h1>i18n 테스트</h1>

<span th:text="#{hello}"></span><br>
<span th:text="#{welcome}"></span><br>
<button type="button" th:text="#{switch-en}" onclick="window.location.href='http://localhost:8080/testpage/list.do?localeData=en'"></button> <!-- 3 -->
<button type="button" th:text="#{switch-ko}" onclick="window.location.href='http://localhost:8080/testpage/list.do?localeData=ko'"></button>
		
<script>
	
</script>
</div>
</html>